<div class="first">
    <nav>
        <ul>
          <li><a routerLink="/second-component">Click here to find all students</a></li>
          <li><a routerLink="/third-component">Click here to see directive</a></li>
          <li><a routerLink="/create-component">Click here to create student</a></li>
          <li><a routerLink="/onestudent-component">Click here to find student by id</a></li>
        </ul>
      <!-- <button appThirdcomponenetDetails>Click To my third custom directive</button>-->
      </nav>
</div>

